.archive-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1em;  
  padding: 10vh 1em;
}

.archive-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: calc(100% + 20vh);
  opacity: 1;
  z-index: 0;
  pointer-events: none;  
}

.archive-bg::before {
  position: absolute;
  content: '';
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.footer-wrapper {
  padding: 1em;
  background-color: #FAF3E0;
}

.archive {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.archive-items {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.archive-header,
.archive-item {
  display: flex;
  gap: 1em;
}

.archive-item {
  cursor: pointer;
  user-select: none;
}

.archive-header {
  display: none;
}

.archive-header-name,
.archive-item-name {
  flex: 1;
}

.archive-header-designer,
.archive-item-designer {
  flex: 2;
}

.archive-header-year,
.archive-item-year {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.archive-empty-col {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.product-preview {
  position: fixed;
  top: 10vh;
  right: 1em;
  width: 32.5%;
  aspect-ratio: 5/3;
  z-index: 1;
}

@media (max-width: 900px) {
  .archive-empty-col {
    display: none;
  }

  .archive-page {
    padding: 5em 1em;
  }

  .archive-header-designer,
  .archive-item-designer {
    display: none;
  }

  .archive-bg {
    height: calc(100% + 10em);
  }

  .product-preview {
    display: none;
  }
}
