.footer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #fff;
}

.footer-col:nth-child(1) {
  flex: 2;
}

.footer-col:nth-child(2) {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .footer-clock {
    display: none;
  }

  .footer-author {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}
